/*외부 스타일 시트*/

/* *{} : 모든 태그에 적용, 모든 선택자 */
/* margin : 바디 부분의 바깥쪽 여백 */
/* padding : 바디 내부에서 내용물과의 경계인 여백 */
/* 설정 전 기본 폰트사이즈 - 16px */

*{
    /* margin:0px;
    padding:0px; */
    font-size:16px;
    /* color : blue; */
}


/* 스타일시트를 이용하여 a태그 밑줄 없애기 */

/* 
링크 스타일 
- text-decoration : 밑줄(underline), 윗줄(overline), 취소선(line-through), 없음(none)
*/

/* '태그:가상클래스'의 형태, 가상클래스는 메소드처럼 만들어져있다.
   가상클래스 - :link, :visited, :active(누르고있을때), :hover
   순서에 영향이 있다. */

/* a:link {

    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
} */

a:link, a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: underline;
}

